<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment='paginationTable'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Application Management System</h2>
            <p>
                Aplikacja do zarządzania wnioskami.
            </p>

            <label>
                <span class="glyphicon glyphicon-filter" aria-hidden="true"/> Filtry
            </label>

            <form class="form-inline" role="form" th:action="@{|/applications?page=${currentIndex}|}" th:object="${filter}" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">By name</div>
                        <input type="text" class="form-control" id="nameFilter" name="nameFilter" placeholder="Name..."  th:value="${nameFilter}"/>
                    </div>

                    <!-- CREATED -->
                    <a th:if="${statuses.contains('CREATED')}" href="/" th:href="@{|/applications/CREATED/hide?page=${currentIndex}|}" class="btn btn-large btn-info">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/> Created
                    </a>
                    <a th:if="${not statuses.contains('CREATED')}" href="/" th:href="@{|/applications/CREATED/show?page=${currentIndex}|}" class="btn btn-large btn-default">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"/> Created
                    </a>

                    <!-- VERIFIED -->
                    <a th:if="${statuses.contains('VERIFIED')}" href="/" th:href="@{|/applications/VERIFIED/hide?page=${currentIndex}|}" class="btn btn-large btn-info">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/> Verified
                    </a>
                    <a th:if="${not statuses.contains('VERIFIED')}" href="/" th:href="@{|/applications/VERIFIED/show?page=${currentIndex}|}" class="btn btn-large btn-default">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"/> Verified
                    </a>

                    <!-- ACCEPTED -->
                    <a th:if="${statuses.contains('ACCEPTED')}" href="/" th:href="@{|/applications/ACCEPTED/hide?page=${currentIndex}|}" class="btn btn-large btn-info">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/> Accepted
                    </a>
                    <a th:if="${not statuses.contains('ACCEPTED')}" href="/" th:href="@{|/applications/ACCEPTED/show?page=${currentIndex}|}" class="btn btn-large btn-default">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"/> Accepted
                    </a>

                    <!-- PUBLISHED -->
                    <a th:if="${statuses.contains('PUBLISHED')}" href="/" th:href="@{|/applications/PUBLISHED/hide?page=${currentIndex}|}" class="btn btn-large btn-info">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/> Published
                    </a>
                    <a th:if="${not statuses.contains('PUBLISHED')}" href="/" th:href="@{|/applications/PUBLISHED/show?page=${currentIndex}|}" class="btn btn-large btn-default">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"/> Published
                    </a>

                    <!-- REJECTED -->
                    <a th:if="${statuses.contains('REJECTED')}" href="/" th:href="@{|/applications/REJECTED/hide?page=${currentIndex}|}" class="btn btn-large btn-info">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/> Rejected
                    </a>
                    <a th:if="${not statuses.contains('REJECTED')}" href="/" th:href="@{|/applications/REJECTED/show?page=${currentIndex}|}" class="btn btn-large btn-default">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"/> Rejected
                    </a>

                    <!-- DELETED -->
                    <a th:if="${statuses.contains('DELETED')}" href="/" th:href="@{|/applications/DELETED/hide?page=${currentIndex}|}" class="btn btn-large btn-info">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/> Deleted
                    </a>
                    <a th:if="${not statuses.contains('DELETED')}" href="/" th:href="@{|/applications/DELETED/show?page=${currentIndex}|}" class="btn btn-large btn-default">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"/> Deleted
                    </a>

                    <a href="/new" th:href="@{/application/new}" class="btn btn-large btn-success">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"/> Add
                    </a>
                </div>
            </form>
        </div>
        <table th:if="${total > 0}" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Content</th>
                <th class="col-md-2">Create date</th>
                <th class="col-md-2">Last modified date</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-1"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${page.content}">
                <td th:text="${item.name}" style="vertical-align: super"/>
                <td th:text="${item.content}" style="vertical-align: super"/>
                <td th:text="${item.createdDate}" style="vertical-align: super"/>
                <td th:text="${item.lastModifiedDate}" style="vertical-align: super"/>
                <td th:text="${item.status}" style="vertical-align: super"/>
                <td style="vertical-align: super">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                            Actions
                            <span class="caret"/>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/preview" th:href="@{|/application/${item.id}/preview|}">Preview</a></li>
                            <li><a href="/edit" th:href="@{|/application/${item.id}/edit|}">Edit</a></li>
                            <li><a href="/history" th:href="@{|/application/${item.id}/history|}">Modifications</a></li>
                            <li th:if="${item.status.name() == 'CREATED'}"><a href="/deleteOrReject" th:href="@{|/application/${item.id}/delete|}">Delete</a></li>
                            <li th:if="${item.status.name() == 'CREATED'}"><a href="/" th:href="@{|/application/${item.id}/verify|}">Verify</a></li>
                            <li th:if="${item.status.name() == 'VERIFIED' or item.status.name() == 'ACCEPTED'}"><a href="/deleteOrReject" th:href="@{|/application/${item.id}/reject|}">Reject</a></li>
                            <li th:if="${item.status.name() == 'VERIFIED'}"><a href="/" th:href="@{|/application/${item.id}/accept|}">Accept</a></li>
                            <li th:if="${item.status.name() == 'ACCEPTED'}"><a href="/" th:href="@{|/application/${item.id}/publish|}">Publish</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr />
            </tbody>
        </table>
        <h4 th:if="${total == 0}" style="margin-left: 1%">No records found.</h4>

        <div class="col-md-12" th:if="${total > 10}" th:include="fragments/paginationbar"/>
    </div>
</div>
</body>
</html>