<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Pagination Bar -->
<div th:fragment='paginationbar'>
    <nav style="text-align: center">
        <ul class="pagination">
            <li th:class="${pageWrapper.firstPage}? 'disabled' : ''">
                <span th:if='${pageWrapper.firstPage}'>First</span>
                <a th:if='${not pageWrapper.firstPage}' th:href='@{|${pageWrapper.url}?page=1|}'>First</a>
            </li>
            <li th:class="${pageWrapper.hasPreviousPage}? '' : 'disabled'">
                <span th:if='${not pageWrapper.hasPreviousPage}'>&laquo;</span>
                <a th:if='${pageWrapper.hasPreviousPage}' th:href='@{|${pageWrapper.url}?page=${pageWrapper.number-1}|}' title='Go to previous page'>&laquo;</a>
            </li>
            <li th:each="item : ${pageWrapper.items}" th:class="${item.current}? 'active' : ''">
                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                <a th:if='${not item.current}' th:href='@{|${pageWrapper.url}?page=${item.number}|}'><span th:text='${item.number}'>1</span></a>
            </li>
            <li th:class="${pageWrapper.hasNextPage}? '' : 'disabled'">
                <span th:if='${not pageWrapper.hasNextPage}'>&raquo;</span>
                <a th:if='${pageWrapper.hasNextPage}' th:href='@{|${pageWrapper.url}?page=${pageWrapper.number+1}|}' title='Go to next page'>&raquo;</a>
            </li>
            <li th:class="${pageWrapper.lastPage}? 'disabled' : ''">
                <span th:if='${pageWrapper.lastPage}'>Last</span>
                <a th:if='${not pageWrapper.lastPage}' th:href='@{|${pageWrapper.url}?page=${pageWrapper.totalPages}|}'>Last</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>