<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"/>
</head>
<body>
<div th:include="fragments/navbar"/>

<div class="container" style="margin-top: 4%">
    Preview
    <label th:text="${appForm.id}"/>
    <label th:text="${appForm.name}"/>

    <div th:include="fragments/footer"/>
</div>
</body>
</html>